.home{
    margin: 20px 20%;
}

.home span{
    font-weight: bold;
    color: navy;
}

.highlight-course{
    display: flex;
    flex-wrap: wrap;

    /* margin-top: 20px; */
    margin: auto;
    /* border: 1px solid red; */
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
}

.cart{
    /* border: 1px solid red; */
    width: 20rem;
    padding: 10px;
    margin: 10px;
}

.cart:hover{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);;
}

.cart .img{
    /* border: 1px solid green; */
    margin-bottom: 5px;
}

.cart .img img{
    width: 100%;
}

.cart h2{
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
}

.cart p{
    font-size: 12px;
    color: #6a6f73;
    line-height: .5;
}

.rating{
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.rating p:first-child{
    color: #b4690e;
    font-size: 14px;
    font-weight: 700;
}

.rating .star{
    color: #b4690e;
    /* border: 1px solid red; */
    font-size: 14px;
    margin: 0 5px;
}

.price{
    align-items: center;
}

.price h2:first-child{
    font-size: 18px;
    font-weight: 700;
    margin-right: 10px;
}

.price h2:last-child{
    font-size: 14px;
    color: #6a6f73;
    text-decoration:line-through;
}


/* media queries */
@media (max-width: 1400px){
    .home{
        margin: 20px 20px;
    }
}