.header{
    margin: 5px 0px;
    padding: 10px;
    align-items: center;
    justify-content: space-evenly;
    box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

.link .navlink{
    text-decoration: none;
    margin-right: 40px;
    color: rgb(126,126,128);
}

.link .navlink:hover{
    color: navy;
}

.link .selected{
    font-weight: bold;
    /* color: blue; */
}

.logo img{
    width: 5rem;
}


/* media queries */
@media (max-width: 500px){
    .link .navlink{
        margin-right: 10px;
    }
}